* {
  font-family: monospace;
}

.input {
  padding: 3px;
}
#app {
  border: 2px solid black;
  margin-top: 100px;
  display: flex;
  padding: 50px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#inputs {
  border: 2px solid black;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#result {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

#card {
  padding: 30px;
  border: 1px solid #cccccc;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  width: 300px;
  margin: auto;

  height: 100px;
}

#header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 300px;
}

#actions {
  display: flex;
  justify-content: center;
}
