#app {
  min-height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app2 {
  display: flex;
  padding-top: 20px;
}
body {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  background-color: #f8f8ff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-bottom: 60px;
}
#head {
  display: flex;
  padding: 20px;
  background-color: #fff5ee;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 52.1%;
  padding: 20px;
  background-color: #fff5ee;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#logo {
  height: 30px;
  width: max-content;
  background-color: #7fffd4;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 30px;
  color: grey;
  border: 1px solid black;
  border-radius: 15px;
}
#nav {
  margin-left: 10px;
  padding-top: 2px;
  padding-bottom: 10px;
  width: 100%;
}

#mainPageImage {
  width: 100%;
}
#headCarImg {
  margin-left: 200px;
  height: 50px;
  width: 200px;
}

#copyright {
  text-align: center;
  font-size: 20px;
}

#form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

#carContainer {
  padding: 10px;
  min-width: 200px;
}

#carContainer3 {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  min-width: 750px;
}
#carContainer4 {
  padding: 10px;
  border-left: 0.5px solid grey;
  padding-left: 30px;
}

div#carContainer p {
  margin-bottom: 20px;
}
div#carContainer4 p {
  margin-bottom: 20px;
  min-width: 200px;
}

#adcars {
  display: flex;
  padding: 10px;

  justify-content: center;
}

#showCars {
}
